<header style="min-height: 5vh">
  <div class="logo_container">
    <img (click)="resetCategory()" routerLink="./" src="assets/logo/white.svg" alt="">
  </div>
  <div class="headerNav__right">
    <div *ngIf="!isAuth">
      <mat-list class="matListCustom">
        <mat-list-item routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
                       routerLink="/account/user/login">
          <a mat-raised-button href="javascript:void(0);">Login</a>
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item>
          <a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
             routerLink="/account/user/registration" mat-raised-button href="javascript:void(0);">Sign-up</a>
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
      </mat-list>
    </div>

    <mat-list *ngIf="isAuth" style="min-width: 350px" class="matListCustom">

      <mat-list-item>
        <a routerLink="/account/user/create-product" mat-raised-button href="javascript:void(0);">Create Product</a>
      </mat-list-item>
      <mat-divider [vertical]="true"></mat-divider>
      <mat-list-item (click)="logout()">
        <a style="width: 100%"  mat-raised-button href="javascript:void(0);">Logout</a>
      </mat-list-item>

    </mat-list>
  </div>
</header>
