<div class="main_products">
  <div class="container">
    <app-search-product style="display: flex;justify-content: center" (childEvent)="onChildEvent($event)"></app-search-product>
    <div *ngIf="products" class="row">
      <div style="margin-bottom: 20px" *ngFor="let product of products.product.data" class="col-md-4">
        <mat-card (click)="navigateCardProduct($event,product.id)" class="product">
          <mat-card-header class="d-flex justify-content-center a">
            <mat-card-title>{{product.title}}</mat-card-title>
          </mat-card-header>

          <ng-container *ngIf="product.images; else noImage">
            <img mat-card-image [src]="isObjectEmpty(product.images)">
          </ng-container>

          <ng-template #noImage>
            <img mat-card-image src="http://localhost:1111/storage/fakeImgProduct/stup.jpg">
          </ng-template>


          <mat-card-content>
            <p>
            {{product.description}}
            </p>
            <p><b>Price</b>: {{product.price}}$</p>
          </mat-card-content>
          <mat-card-actions class="d-flex justify-content-between" style="align-items: center">
            <app-rating-layout [product]="product" [productService] = "productService" [isAuth]="isAuth" [rating]="{product_id:product.id,product_rating:product.rating}"></app-rating-layout>

            <button  [routerLink]="['product-card/',2]" class="add_basket" mat-button>
              <mat-icon>shopping_basket</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <mat-paginator  [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="confirmPageChange($event)"
                     aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>
