.main_products{
  width: 100%;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 77%), 0px 1px 1px 0px rgb(0 0 0 / 71%), 0px 1px 3px 0px rgb(0 0 0 / 46%);
}
.mat-card {
  background: #F6F6F6;
  color: #424242;
}
.main_products{
  margin-top: 25px;
}

.add_basket{
  color: #dc3545;
  box-shadow: 0px 1px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 3)
}

.product{
  cursor: pointer;
  background: #ffffff;
}
.mat-mdc-button>.mat-icon{
  margin-right: 0;
}
