
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px black inset !important; }

input:-webkit-autofill { -webkit-text-fill-color: #20C165 !important; }

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgb(53 215 81 / 87%) !important;
}


button{
  background: none;
  color: white;
  border: none;

}
.form__container{
  display: flex;
  flex-direction: column;
  min-height: 350px;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  color: #F6F6F6;
  padding-top: 80px;
  h1{
    text-align: center;
  }
}
.btn__form{
  background: #424242;
}
//.auth_google{
//  background: #424242;
//  padding: 0 10px 0 0;
//  display: flex;
//  &__img{
//    margin: -2px 45px 0px -2px;
//  }
//}
