<form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Add comment</mat-label>
    <textarea style="margin-left: -1em;margin-top: -0.5em;"  class="input_text" formControlName="comments" matInput placeholder="comment"></textarea>
    <mat-error
      *ngIf="this.form.get('comments')?.status ==='INVALID'">{{getErrorMessageInvalid()}}
    </mat-error>
  </mat-form-field>
  <button [disabled]="form.invalid" type="submit" class="btn__form container-product mt-3" mat-flat-button>
    Add Comment
  </button>
</form>
